################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task/.vs/Task
/Task/Task/bin/Debug/netcoreapp3.1
/Task/Task/obj
